
h5 {
    margin: 0;
    padding: 0;
    color: $bName;
}

.shops {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .shopData{
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .feedback {
        font-size: 0.7rem;
        background-color: $feedback;
        max-width: 32rem;
        padding: 3px;
        text-align: center;
        border-radius: 5px;
        justify-self: flex-end;
    }
    .shopDtls{
        font-size: 0.8rem;
    }
    .shopPay{
        margin-top: 7px;
    }
}
.contact{
    background-color: #1EBEA5;
    min-width: 200px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a:link{
        text-decoration: none;
        color:$darkBG-Font;
    }
    .wa{
        background-image: url(/eMarket-kkr/img/whatsapp.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 2rem;
        width: 2rem;
        display: block;
    }
}
.homeDelivery{
    width: 95vw;
    border-top: 1px #1EBEA5 solid;
    border-bottom: 1px #1EBEA5 solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
}
.minOrder{
    font-size: 0.7rem;
}