
h5 {
    margin: 0;
    padding: 0;
    //color: $bName;
    color: $thefutur;
}

.shops {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    .shopData{
        display: grid;
        grid-template-columns: minmax(200px,1fr);
        padding: 20px;
    }
    .feedback {
        font-size: 0.7rem;
        background-color: $feedback;
        max-width: 32rem;
        padding: 3px 7px;
        text-align: center;
        border-radius: 3px;
        justify-self: flex-end;
    }
    .shopDtls{
        font-size: 0.8rem;
    }
    .shopPay{
        margin-top: 7px;
    }
}
.shopData:hover{
    border-radius: 10px;
    border: 0.2pt solid $primary;
}
.contact{
    //background-color: #1EBEA5;
    background-color: $thefutur;
    min-width: 200px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a:link{
        text-decoration: none;
        color:$darkBG-Font;
    }
    a:visited{
        text-decoration: none;
        color: burlywood;
    }
    .wa{
        background-image: url(/eMarket-kkr/img/whatsapp.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 2rem;
        width: 2rem;
        display: block;
    }
}
.homeDelivery{
    width: 95vw;
    // border-top: 1px #1EBEA5 solid;
    // border-bottom: 1px #1EBEA5 solid;    
    border-top: 0.3pt $thefutur solid;
    border-bottom: 0.3pt $thefutur solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.homeDelivery::before {
    content: "Order on WhatsApp";
    font-size: 0.5rem;
    font-family: 'PT Mono', monospace;
    top: -10px;
    position: absolute;
    left: 1px;
}
.minOrder{
    font-size: 0.7rem;
    margin-left: auto;
}