
h5 {
    margin: 0;
    padding: 0;
    color: $bName;
}

.shops {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .feedback {
        font-size: 0.7rem;
        background-color: $feedback;
        max-width: 32rem;
        padding: 3px;
        text-align: center;
        border-radius: 5px;
        justify-self: flex-end;
    }
    .shopDtls{
        font-size: 0.8rem;
    }
}
.contact{
    background-color: #1EBEA5;
    width: 100%;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.homeDelivery{
    width: 95vw;
    border-top: 1px #1EBEA5 solid;
    border-bottom: 1px #1EBEA5 solid;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.minOrder{
    font-size: 0.7rem;
}