
.main .app section.hide{
    transition: ease-in-out all 500ms;
    display: none;
}
.main .app section.show{
    display: block;
}

#rsltCount{
    text-align: right;
    font-size:0.7rem;
    padding-right: 10px;
}