.location {
    color: $primary;
    font-weight: 900;
    padding-left: 10px;

    .mist {
        font-size: 1rem;
        padding: 5px 8px;
        width: 90%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        appearance: none;
    }

    .mist:focus {
        outline: none;
    }

    .aset {
        align-self: center;
        justify-self: center;
    }
}