#khalsa,
#kitab,
#davai,
#sabji,
#kiryana{
    transition: all ease-in 300ms;
}

#khalsa:hover,
#kitab:hover,
#davai:hover,
#sabji:hover,
#kiryana:hover{
    background-color: $theGreen;
    color: $darkBG-Font;
}

.catOpen{
    background-color: #079188;
    color: azure;
}
#bakerCount,#bookCount,#chemCount,#vegCount,#grocerCount{
    font-size: 2.2rem;
}