#khalsa,
#kitab,
#davai,
#sabji,
#kiryana{
    transition: all ease-in 300ms;
}

#khalsa:hover,
#kitab:hover,
#davai:hover,
#sabji:hover,
#kiryana:hover{
    background-color: $theGreen;
    color: $darkBG-Font;
}

.catOpen{
    //background-color: #079188;
    background-color: $thefutur;
    color: azure;
    transition: all ease-in-out 500ms;
}
#bakerCount,#bookCount,#chemCount,#vegCount,#grocerCount{
    font-size: 1.5rem;
    transition:all ease-in-out 500ms ;
}

.countIs1::after{
    content: "shop";
}
.countIsMore::after{
    content: "shops";
}

.countIs1::after,.countIsMore::after{
    font-size: 0.8rem;
}