@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap");
#khalsa,
#kitab,
#davai,
#sabji,
#kiryana {
  -webkit-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}

#khalsa:hover,
#kitab:hover,
#davai:hover,
#sabji:hover,
#kiryana:hover {
  background-color: #079188;
  color: azure;
}

.catOpen {
  background-color: #0000ee;
  color: azure;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

#bakerCount, #bookCount, #chemCount, #vegCount, #grocerCount {
  font-size: 2.2rem;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.countIs1::after {
  content: "shop";
}

.countIsMore::after {
  content: "shops";
}

.countIs1::after, .countIsMore::after {
  font-size: 0.8rem;
}

.location {
  color: #222;
  font-weight: 900;
  padding-left: 10px;
}

.location .mist {
  font-size: 1rem;
  padding: 5px 8px;
  width: 90%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.location .mist:focus {
  outline: none;
}

.location .aset {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .app section.hide {
  -webkit-transition: ease-in-out all 500ms;
  transition: ease-in-out all 500ms;
  display: none;
}

.main .app section.show {
  display: block;
}

h5 {
  margin: 0;
  padding: 0;
  color: #0000ee;
}

.shops {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shops .shopData {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.shops .feedback {
  font-size: 0.7rem;
  background-color: #FFD184;
  max-width: 32rem;
  padding: 3px 7px;
  text-align: center;
  border-radius: 3px;
  justify-self: flex-end;
}

.shops .shopDtls {
  font-size: 0.8rem;
}

.shops .shopPay {
  margin-top: 7px;
}

.shopData:hover {
  background-color: cornsilk;
}

.contact {
  background-color: #1EBEA5;
  min-width: 200px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact a:link {
  text-decoration: none;
  color: azure;
}

.contact .wa {
  background-image: url(/eMarket-kkr/img/whatsapp.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 2rem;
  display: block;
}

.homeDelivery {
  width: 95vw;
  border-top: 1px #1EBEA5 solid;
  border-bottom: 1px #1EBEA5 solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.minOrder {
  font-size: 0.7rem;
  margin-left: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 110%;
}

body header {
  background: #222;
  width: 100%;
  padding: 1px;
  margin-bottom: 10px;
  color: azure;
}

body section {
  margin: 0;
  padding: 0;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.main .app {
  width: 100vw;
  border-radius: 2px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.main .app .lang {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .app .actN {
  color: #079188;
}

.main .app .dsbN {
  color: #222;
}

.main .app .actN, .main .app .dsbN {
  padding: 1px 3px;
}

.main .app .district {
  color: #079188;
  padding-left: 10px;
}

.main .app .district .desc {
  color: #222;
  font-size: 0.9rem;
}

.main .app .srvc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
  border-top: #e3e3e3 0.5pt solid;
  border-bottom: #e3e3e3 0.5pt solid;
  padding: 12px;
  width: 100%;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main .app .bizTyp {
  margin-left: 5px;
  font-size: 3rem;
}

.main .app .bizIcnT {
  width: 100%;
  height: 100%;
}

.main .app .chem {
  background: url("/eMarket-kkr/img/meds.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main .app .baker {
  background: url("/eMarket-kkr/img/bread.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main .app .books {
  background: url("/eMarket-kkr/img/books.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main .app .grocer {
  background: url("/eMarket-kkr/img/grocry.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main .app .vege {
  background: url("/eMarket-kkr/img/fruits.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */